* {
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
    font-family: 'Inter', system-ui, -apple-system, sans-serif;
}

.nav-bar{
    display: flex;
    justify-content: space-between;
    padding: 24px 40px;
    align-items: center; 
    position: relative;
}

.nav-list{
    display: flex;
    gap: 32px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

.header{
    background-color: #0f172a;
    border-bottom: 1px solid #1e293b;
}

.name-logo{
    text-decoration: none;
    color: #f8fafc;
    font-size: 30px;
    font-weight: 800;
}

.nav-button{
    text-decoration: none;
    color: #c8d4e4;
    font-size: 18px;
    font-weight: 600;
    letter-spacing: 1px;
    transition: color 0.3s ease;
}

body{
    background-color: #0f172a;
    color: #f8fafc;
}

.hero{
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 80vh; /* Makes the section take up 80% of your screen height */
    padding: 0 40px;
    max-width: 1350px;
    margin: 0 auto;
}

.hero-greeting{
    color: #38bdf8;
    font-size: 18px;
    font-family: monospace;
    margin-bottom: 10px;
}

.hero-name{
    font-size: 60px;
    font-weight: 800;
    margin-bottom: 10px;
}

.hero-description{
    color: #94a3b8;
    font-size: 18px;
    line-height: 1.6;
    max-width: 800px; 
    margin-bottom: 10px;
}

.hero-buttons{
    display: flex;
    gap: 20px;   
}

.hero-project-button{
    text-decoration: none;
    color: #0f172a;
    background-color: #38bdf8;
    padding: 16px 32px;
    border-radius: 4px;
    font-weight: 600;
    font-size: 18px;
    transition: all 0.3s ease;

}

.hero-project-button:hover {
    background-color: #7dd3fc; 
    transform: translateY(-3px); 
}

.hero-contact-button{
    text-decoration: none;
    color: #38bdf8;
    border: 1px solid #38bdf8;
    padding: 16px 32px;
    border-radius: 4px;
    font-weight: 600;
    transition: all 0.3s ease;
}

.hero-contact-button:hover{
    background-color: rgba(56, 189, 248, 0.1);
    transform: translateY(-3px);
}